*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.page-enter-active, .page-leave-active{
    transition: opacity .2s;
  }
  
.page-enter, .page-leave-active{
  opacity: 0;
}
